<ion-view view-title="About">
	<ion-nav-buttons side="right">
				<button class="button  button-clear "></button>
	</ion-nav-buttons>
	<ion-content >
		<div class="card">
			<div class="item item-text-wrap">
				<img src="img/afrizik.png" alt="Artist" height="50px" width="50px" />
				<p style="color:#E71D25; text-align:center; font-size:25px;">
					<strong>Discover, Enjoy and Support  local music .</strong>
				</p>
				<p>
					AfriZik is a collection of your favorite local songs and corresponding lyrics. <br><hr>
				<p>We provide a unique way to discover the lyrics of songs you love.<br />
				</p> 
				<p>
					Developed by Awesome
					<strong>
						Arnold Chuenffo.
					</strong>
				</p>
				</p>	<br>
				
				
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left dark">
				<a class="tab-item" href="#" onclick="window.open('http://arnoldchuenffo.blogspot.com/', '_system', 'location=yes'); return false;">
				<i class="icon ion-chatbubble"></i>
				blog
				</a>
				<a class="tab-item" href="#" onclick="window.open('http://www.funtech.comv.com', '_system', 'location=yes'); return false;" >
				<i class="icon ion-home"></i>
				Website
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>