<ion-view view-title="About">
	<ion-nav-buttons side="right">
				<button class="button  button-clear "></button>
	</ion-nav-buttons>
	<ion-content >
		<div class="card">
			<div class="item item-text-wrap ">
				<div class="col col-40 ">
					<img src="img/afrizik.png" alt="Afrizik logo" width="100" />
				</div>
				<div class="">
					<div >
						<p style="color:black; text-align:center; font-size:25px;">
						<strong>Discover, Enjoy and Support  local music .</strong> <br>
							<h3>Promoting Local Music. Made Local, Goes Global. </h3>
						</p><hr>
					</div>
					<br>
					<p>
						AfriZik is a collection of your local songs, lyrics and events. <br>
					<p>We provide a unique way to discover the lyrics of songs you love.<br />
						Enjoy Local events such as concerts, night-club shows and many others with Afrizik
					</p> 
					<p>
						Developed by Awesome
						<strong>
							Arnold Chuenffo.
						</strong>
					</p>
					</p>	<br>
				</div>
				<div class="item item-divider">
					<p>Version 1.0.1</p>
				</div>
				
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left dark">
				<a class="tab-item" href="#" onclick="window.open('http://arnoldchuenffo.blogspot.com/', '_system', 'location=yes'); return false;">
				<i class="icon ion-chatbubble"></i>
				blog
				</a>
				<a class="tab-item" href="#" onclick="window.open('https://afrizik.firebaseapp.com', '_system', 'location=yes'); return false;" >
				<i class="icon ion-home"></i>
				Website
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>