<ion-view view-title="" class="bar-dark">
	<!--<ion-nav-buttons side="right" >
        <button class="button  button-dark button-clear ">
        </button>
    </ion-nav-buttons>
	<ion-nav-buttons side="left" >
        <button class="button  button-dark button-clear ">
        </button>
    </ion-nav-buttons>-->
    <ion-content scroll="false">
        <div id="page-intro" class="page-intro">
            <ion-slide-box pager-click=navSlide(index) auto-play="true" does-continue="true">
                <ion-slide>
                    <div id="slide-intro-1" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <span>Discover</span>
                                        </div>
                                        <p>Great local artists, songs and lyrics</p>
                                        <p class="badge">Made Local, Goes Global</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div id="slide-intro-2" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <span>Enjoy</span>
                                        </div>
                                        <p>Stream songs and share with friends</p>
                                                                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
				
				<ion-slide>
                    <div id="slide-intro-2" class="slide-intro">
                        <div class="slide-intro-wrapper">
                            <div class="info">
                                <div class="row">
                                    <div class="col col-80 col-offset-10">
                                        <div class="logo">
                                            <span>Support</span>
                                        </div>
                                        <p>Local Music</p>
                                        <p>Encourage artists with modest donnations using MTN Mobile Money or Orange Mobile Money.</p>
                                        <button ui-sref="app.eventdetail" class="button-get-started button button-outline button-energized">
                                            Get Started
                                        </button>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>