<ion-view view-title="Events">
    <ion-nav-buttons side="right" >
        <button class="button  button-dark button-clear " ng-click="LEsearch()">
        </button>
    </ion-nav-buttons>
<ion-content>
    
      <ul class="cate-lv1">
            <li class="item-background cate-lv1-item" ng-repeat="event in events" href="#/app/localevents/{{event.id}}"
            style="background: url({{event.event_pic}}) no-repeat; background-size: cover;">
                <div class="item-wrapper">
                    <h2>{{event.event_title}}</h2>
                    <p>{{event.location}}</p>
                </div>
            </li>
        </ul>
      
      <!-- 
        <hscroller>
        <hcard ng-repeat="event in events" index="{{$index}}" desc="{{event.event_title}}" image="{{event.event_pic}}" ng-click="play(item.permalink_url)">
        
        </hcard>
        </hscroller>
      -->
</ion-content>
</ion-view>