<ion-view view-title="Local events">
    <ion-nav-buttons side="right" >
        <button class="button  button-dark button-clear ion-android-search" ng-click="LEsearch()">
        </button>
    </ion-nav-buttons>
<ion-content>
    <div  class="grid">
        <div class="row" ng-repeat="event in events" >
            <div class="card padding" >
                <a href="#/app/localevents/{{event.id}}">
                    <img class="full-image" ng-src="{{event.event_pic}}" width="100%"/>
                    <span>{{ event.event_title }}</span>
                </a>
            </div>
            <!--
            <div class="col col-50" ng-if="$index + 1 < events.length">
                <img ng-src="{{events[$index + 1].event_pic}}" width="100%"/>
                <span> event {{ events[$index+1].id}}</span>
            </div>
            -->
        </div>
    </div>
</ion-content>
</ion-view>