 <ion-popover-view>
 <ion-content>
 <div class="list">
  <a class="item" href="#/app/userprofile/" target="_blank">
    See Album
  </a>
  <a class="item" href="#" ng-click="toProfile()" target="_blank">
    Biography
  </a>
  <a class="item" href="#" ng-click="toProfile()" target="_blank">
    Showcase
  </a>
  <a class="item" href="#" ng-click="toProfile()" target="_blank">
    Book Artist
  </a>
  <a class="item" href="#" ng-click="toProfile()" target="_blank">
    More songs
  </a>
</div>
</ion-content>
</ion-popover-view>