<ion-view view-title="Playlist Streaming">
	<ion-content>
		<h3>
			Stream songs
		</h3>
		<div class="card">
			<div class="item item-text-wrap">
				<p>
					<img data-ng-src="data:image/png;base64,{{artist.thumbnail.base64}}" data-err-src="images/png/avatar.png"/><img ng-src="playlist.thum">
				</p>
				<p>
					<button class="icon ion-prev" ng-click="prevTrack()"></button>
					<button class="icon ion-stop" ng-click="playTrack()"></button>
					<button class="icon ion-next" ng-click="nextTrack()"></button>
				</p>
			</div>
		</div>


		
	</ion-content>
</ion-view>