<ion-view view-title="Profile">
	<ion-nav-buttons side="right" >
        <button class="button button-dark button-clear button-icon icon ion-more"></button>
    </ion-nav-buttons>
	<ion-content class="artist_profile" >
	<br><br>
		<ion-tabs class="tabs-energized tabs-striped tabs-top tabs-icon-top">
			<ion-tab title="Profile info" icon="ion-stats-bars dark" >
				<ion-content padding="true" class="has-header">
					<br><br>
						<div class="artist_profile">
						<p style="
    margin: -29px 142px 10px;
    top: 100px;
    left: 50px;
    position: relative;
    color: white;
    font-size: large;
">  
<img class= "img-circle" ng-src="img/x-maleya.jpg" alt="Background MD" width="100">
artist</p></div>
						
		
				</ion-content>
			</ion-tab>

			<ion-tab title="Biography" icon="ion-bookmark dark">
				
				<ion-content padding="true" class="has-header" ng-controller="categoriesCtrl">
					<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
					</ion-refresher>
					
				</ion-content>
			</ion-tab>
			<ion-tab title="Stage Performance" icon="ion-film-marker dark" >
				<ion-content padding="true" class="has-header">
					<br>
					
					<ion-refresher pulling-text="" on-refresh="doRefresh()" class="refreshIcon">
					</ion-refresher>
							
					<strong>Top Songs</strong>
				</ion-content>
			</ion-tab>
		</ion-tabs>
	</ion-content>
</ion-view>
