<ion-view view-title="Profile">
	<ion-nav-buttons side="left">
		<button class="button  button-clear ion-android-person"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button  button-clear ion-android-more-vertical"></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<!-- Artrist image and name -->
		<div class="artist_profile">
			<div class="col col-40 col-offset-60">
				<img class="item item-avatar" ng-src="{{artist.thumbnail}}" alt="img/avatar.png">
				<h3>{{artist.name}}</h3>
			</div>
		</div><!-- end -->
		<br><br><br>
		<!--profile tabs -->
		<div class="">
			<ion-tabs class="tabs-dark tabs-striped tabs-top tabs-icon-top">
				<ion-tab title="" icon="ion-gallery energized" >
					<ion-content class="padding">
						Album list 
					</ion-content>
				</ion-tab>
				<ion-tab title="" icon="ion-stat energized">
					<ion-content class="padding">
						Artist Stage performance. Live videos
					</ion-content>
				</ion-tab>
			</ion-tabs>
		</div>

	</ion-content>
</ion-view>