<ion-view view-title="Play song">

	<ion-nav-buttons side="right" >
        <button class="icon  ion-android-more-vertical dark" ng-click="alert('Waooh')"></button>
    </ion-nav-buttons>

	<ion-content class="padding">
		<h5>
			Enjoy this song &lyrics
		</h5>
		<div class="list card">
			<div class="item item-avatar" alt="Avatar" >
				<img data-ng-src="data:image/png;base64,{{playlist.thumbnail.base64}}" data-err-src="images/png/avatar.png" class="homeImgbgd" />
				<h3>
					<strong>
						{{playist.name | uppercase}}
					</strong>
				</h3>
				<h3>
					Album: {{playlist.category}}
				</h3>
				<h3>
					Date: {{playlist.date}}
				</h3>
				<span class="icon ion-android-more-vertical dark"></span>
			</div>
			<div >
				<ion-item>
					<div class="video-container iframe_loader" ng-bind-html="display_video">
						
					</div>
				</ion-item>
			</div>
			<div class="item item-body" ng-bind-html="display_lyric">
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left" ng-controller="ShareCtrl" >
				<!--<a class="tab-item" href="#" onclick="window.open('+"'http://{{result.twitter_official}}'"+', '_system', 'location=yes'); return false;" >
				<i class="icon ion-social-twitter"></i>
				Follow 
				</a>-->
				<a class="tab-item" href="#" ng-model="facebook" onclick="window.open('http://www.w3schools.com', '_system', 'location=yes'); return false;">
				<i class="icon ion-social-facebook"></i>
				Like 
				</a>
				<p ng-bing-html="twitter"></p>
				<p ng-bing-html="facebook"></p>
				
				<button class="button button-clear button-positive    ion-android-share" ng-click="shareAnywhere()">
					Share
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>