<ion-view view-title="Artists/songs">
	<ion-content>
		<h3>
			
		</h3>
		<div>
			<ion-list item-icon-right >
				<ion-item class=" card item-thumbnail-left " ng-repeat="result in results" href="#/app/songdetail/{{result.id_song}}">
					<img src="img/musique.png" alt="Artist" />
					<h2 style="color: white;">
						Title: {{result.title}}
					</h2>
					<h2 style="color: white;">
						<strong>
							{{result.lyric_by | uppercase}}
						</strong>
					</h2>
						<span style="color: white;" class="custom-span ion-more">
							
						</span>
					<i class="icon ion-chevron-right icon-accessory"></i>
					
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>