<ion-view view-title="Songs">
	<ion-nav-buttons side="right">
				<button class="button  button-clear ion-android-more-vertical"></button>
	</ion-nav-buttons>

	<ion-content ng-controller="SoundTrackCtrl">

    <!--<button ng-click="playTrack()" class="btn-default"> play</button>-->
    <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/190951951" class="iframe_loader"></iframe>
    
    <!--<div ng-controller="CarouselCtrl" id="slides_control">
      <div>
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" class="homeImgbgd">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>
    </div>-->
    <div ng-controller="PlaylistsCtrl">

      <div >
      <ion-list item-icon-right>
        <ion-item class=" card item-thumbnail-left " ng-repeat="artist in playlists" href="#">
          <img data-ng-src="data:image/png;base64,{{artist.thumbnail.base64}}" data-err-src="images/png/avatar.png"/>
          <h2>
            {{artist.name}}
          </h2>
          <h2>
            {{artist.facebook}}
          </h2>
          <i>
          <span class="badge custom-icon ion-heart">
             
            </span>
          </i>
        </ion-item>
      </ion-list>
        
      </div>
    </div>
		<!-- <div ng-repeat="track in song_tracks">
        <div class="list card">
          <div class="item item-divider ">{{track.genre}}<span class="icon ion-heart custom-icon"></span></div>
          <div class="item item-body">
            <a class="item-thumbnail-left">
            <img src="{{track.artwork_url}}"  alt="artwork_url" width="100">
            <h3>{{track.user.username}}</h3>
            <img src="{{}}"  id="startbtn" alt="start btn">
            <button class=" ion-arrow-right-b" id="pausebtn"></button>
            <img src="{{}}" id="stoptbtn" alt="stop btn">
            </a>
          </div>
        </div>
      </div>  -->
	</ion-content>

</ion-view>