<ion-view view-title="SoundCloud">
	<!---->
	<ion-nav-buttons side="right" >
		<button class="button  button-dark button-clear ion-android-search" right-buttons="SCsearch">
		</button>
    </ion-nav-buttons>
	<ion-content class="homebgd">
		<div class="item item-divider">
			<br><br>
			<strong>Local Artists</strong>
			<hscroller>
    			<hcard ng-repeat="item in song_tracks" index="{{$index}}" desc="{{item.user.username}}" image="{{item.artwork_url}}" ng-click="play(item.permalink_url)"></hcard>
			</hscroller>
		</div><!--
		 <ion-scroll  direction="x"  class="item wide-item">
			<div class="row" ng-repeat="track in  song_tracks" ng-if="$index % 2 === 0">
		        <div class="" ng-if="$index <  song_tracks.length">
		            <a href="#" ng-click="play(song_tracks[$index].permalink_url)">
		            	<img ng-src="{{ song_tracks[$index ].artwork_url}}" width="100%"  class="artistImg" alt="Artist#" />
		            </a>
					<span class="stable"> {{ song_tracks[$index +1].user.name }}</span>
		        </div>
		        <div class="" >
		        	<a href="#" ng-click="play(song_tracks[$index].permalink_url)">
		           		<img ng-src="{{ song_tracks[$index +1].artwork_url}}" width="100%"  class="artistImg" alt="Artist#" />
		           	</a>
					<span class="stable"> {{ song_tracks[$index +1].user.name }}</span>
		        </div>
		    </div>
		<ion-scroll>-->
		<div class="card">
	        <div ng-bind-html="player_html"></div>
			<div class="item item-text-wrap">
				<p>
					Connect with SoundCloud, upload a photo and 
					set your location to create an artist profile.
				</p><br>
				<p>
					<img ng-src="http://connect.soundcloud.com/2/btn-connect-sc-m.png"\
						 ng-click="soundCloudLogin()" alt="SoundCloud not available">
				</p>
			</div>
		</div>

		
	</ion-content>
</ion-view>
