<ion-view view-title="SoundCloud">
	<!---->
	<ion-nav-buttons side="right" >
		<button class="button  button-dark button-clear ion-android-search" right-buttons="SCsearch">
		</button>
    </ion-nav-buttons>
	<ion-content class="homebgd">
		<div class="item item-divider">
			<br><br>
			<strong>Local Artists</strong>
			<!---<label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" ng-model="sc_search" placeholder="Search artist">
			 </label>
		</div>Adding a grid view .....................-->
			 
		<div class="row" ng-repeat="track in  song_tracks" ng-if="$index % 2 === 0">
	        <div class="col col-50" ng-if="$index <  song_tracks.length">
	            <a href="#" ng-click="play(song_tracks[$index].permalink_url)">
	            	<img ng-src="{{ song_tracks[$index ].artwork_url}}" width="100%"  class="artistImg" alt="Artist#" />
	            </a>
				<span class="stable"> {{ song_tracks[$index +1].user.name }}</span>
	        </div>
	        <div class="col col-50" ng-if="$index + 1 <  song_tracks.length">
	        	<a href="#" ng-click="play(song_tracks[$index].permalink_url)">
	           		<img ng-src="{{ song_tracks[$index +1].artwork_url}}" width="100%"  class="artistImg" alt="Artist#" />
	           	</a>
				<span class="stable"> {{ song_tracks[$index +1].user.name }}</span>
	        </div>
	        
		</div>
		<div class="card">
	        <div ng-bind-html="player_html"></div>
			<div class="item item-text-wrap">
				<p>
					Connect with SoundCloud, upload a photo and 
					set your location to create an artist profile.
				</p><br>
				<p>
					<img ng-src="http://connect.soundcloud.com/2/btn-connect-sc-m.png"\
						 ng-click="soundCloudLogin()" alt="SoundCloud not available">
				</p>
			</div>
		</div>

		
	</ion-content>
</ion-view>
