<ion-view view-title="SoundCloud">
	<!--<ion-nav-buttons side="right" >
        <button class="right button button-icon icon ion-plus" ng-click="create()"></button>
        <button class="right button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>-->
	<ion-content>

		<h3>
			Join SoundCloud.
		</h3>
		<div class="card">
			<div class="item item-text-wrap">
				<p>
					Connect with SoundCloud, upload a photo and 
					set your location to create an artist profile.
				</p><br>
				<p>
					<img ng-src="http://connect.soundcloud.com/2/btn-connect-sc-m.png"\
						 ng-click="soundCloudLogin()" alt="SoundCloud not available">
				</p>
			</div>
		</div>
		
	</ion-content>
</ion-view>
