<ion-view view-title="Support Artist">
	<ion-content class="padding" >
		<div class="padding">
			<div>
				<img src="img/mtn.jpg" alt="MTN Mobile money" class="full-image">
			</div>
			<p class="item item-divider">
				Encourage local music by supporting artist.
				<p>Enter MTN Mobile Money Account Number and Click Make Payment to encourage artist.</p>
				</p>
			
		</div>
	<div class="list">
		<label class="item item-input item-floating-label">
		<span class="input-label">Mobile Money Number</span>
		<input type="tel" placeholder="Mobile Money Number" >
		</label>
		<label class="item">
		<button type="submit" class="button button-full button-dark" onclick="MTNpayment" >Make Payment</button>
		</label>
	</div>
	</ion-content>

</ion-view>