/* Empty. Add your own CSS if you like */
/*Customised icon color and size*/
.custom-icon {
  font-size: 28px;
  color : #FFC900;
}
/*Header bar app title*/
.bar.bar-energized .title {
  color: #050505;
  font-size: 32px;
}

.slider { height: 100%; text-align: center }
.scroll { height: 100% }


.tabs-top > .tabs, .tabs.tabs-top{
	top:-3px;
}
.tabs-striped.tabs-positive .tabs{
	background-color: #36B1E7;
}

.detailBtn{
	background-color: #36B1E7;
	color:white;
	border-radius: 5px;
	height: 30px;
	border-color: white;
	border:solid;

}
h3{
	display: block;
	border-radius: 10px;
	font-style: oblique;
	text-align: center;
	margin-top:40px;
}
.lyricStyle{
	color: black;
}

/*Hendering video responsive*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Display image and text in same div */
.imgDiv{
	position: relative;
}
.textDiv {
	position: absolute;

}

/*Home and menu page style*/
.homebgd{
	background-color: #212121;
}
/*Menu item list backgroud
.item {
  border-color: #212121;
  background-color: #212121;
  color: #FFF;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}*/
/*Categories item list black*/
.item-complex .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: #212121;
    color: #FFC900;
}

.homeImgbgd{
	/*background: url(img/x-maleya.jpg);*/
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-position: center;
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
   /* margin: auto;
    
    position: relative;*/
}
.refreshIcon{
	z-index: 2000;
	position: fixed;
	top:10%;
	left: 4%;
	color: yellow;
}
/*styling the artist pic*/
.artistImg{
	border-radius: 5px;
}

/*Item divider style*/
.item-divider {
  color: #FFF;
  background-color: black; 
  border-color: black; 
}

/*Artist profile*/
.artist_profile{
    background: url(../img/material-graphite.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 280px;
    margin: auto;
    z-index: 2;
    position: relative;
}

/*Show laoder during iframe content loading*/
.iframe_loader{
  background:url(../img/loader.gif) center center no-repeat;
 }
 /*list item background
 .item-complex .item-content, .item{
    background-color: #212121;
    color: #FFF;
    border-color: #212121;
}*/
/*
#custom-span{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}*/

.afrizik-banner{
  position: relative;
  bottom: 0;
  left: 0;
  top: -27px;
  width: 100%;
  padding: 9px 20px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
  background-color: #212121;
  color: yellow;
  opacity: .7;
  font-weight: bold;
}

/*Custom list color
.platform-android .popover .item {
    border-color: #3C3434;
    background-color: #FFC900;
    color: #000;
}*/
/*Add circle round*/
.custom-span {
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 2px 10px #888;

}
/*Custom a round profile image*/
.img-circle {
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border: 1px solid #2B2B2B;
    border-radius: 500px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
}